.containerMain {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 0 auto;
  height: calc(100vh - 100px);
  box-sizing: border-box;
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
  gap: 20px;
}
